@import './utilities/variables_mixins';
@import './views/index';
@import './views/contacto';
@import './views/galeria';
@import './views/quienes';
@import './views/servicios';
@import './layout/navigation_header';
@import './layout/footer.scss';

// estilos utilizados en distintas páginas

* {
  font-family: 'DM Sans';
  background-color: map-get($colores, color-fondo);
  ;
}

.backGroundColorBody {
  background-color: map-get($colores, color-fondo);
}

.image30 {
  @include sizes(7vh, 7vh); // Width -  Height
}

.image60 {
  @include sizes($total_image*0.6 , $total_image*0.6); // Width -  Height
}

.image90 {
  @include sizes($total_image*0.9 , $total_image*0.9); // Width -  Height
}

.justify {
  text-align: justify;
}

.backGroundColor {
  background-color: map-get($colores, color-header_footer);
}

.subtitulo {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;

  &_small {
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;            
  }

}

.columnaFlexRowCenter{
  @include columnaFlexRowCenter($screen-mobile);
  @include columnaFlexRowCenter($screen-desktop);
}

@media only screen and (min-width: 10px) and (max-width: 991px) { // Mobile

  .tituloH1{
    font-weight: bold;
    padding-left: 1vh;
    padding-top: 1vh;
    color: map-get($colores, color-header_footer);
    font-size: 1.5em;
  }

}

@media only screen and (min-width: 992px) {  // Desktop

  .tituloH1{
    font-weight: bold;
    padding-left: 1vh;
    padding-top: 13vh;
    color: map-get($colores, color-header_footer);
    font-size: 1.5em;
  }

}

