@import './utilities/variables_mixins';
@import './views/index';
@import './views/contacto';
@import './views/galeria';
@import './views/quienes';
@import './views/servicios';
@import './layout/navigation_header';
@import './layout/footer.scss';

// estilos utilizados en distintas páginas

* {
  font-family: 'DM Sans';
  background-color: map-get($colores, color-fondo);
  ;
}

.backGroundColorBody {
  background-color: map-get($colores, color-fondo);
}

.image30 {
  @include sizes(7vh, 7vh); // Width -  Height
}

.image60 {
  @include sizes(60%, 60%); // Width -  Height
}

.image90 {
  @include sizes(90%, 90%); // Width -  Height
}

.justify {
  text-align: justify;
}

.backGroundColor {
  background-color: map-get($colores, color-header_footer);
}

@media only screen and (min-width: 10px) and (max-width: 991px) { // Mobile

  .columnaFlexRowCenter {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-left: 10vh;
    padding-right: 10vh;
    padding-top: 5vh;
  }

}

@media only screen and (min-width: 992px) { // Desktop

  .columnaFlexRowCenter {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-left: 10vh;
    padding-right: 10vh;
  }

}