@import 'variables';

* {
  font-family: 'DM Sans';
  background-color: map-get($colores, color-fondo);;
}

ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  background-color: map-get($colores, color-header_footer);;
  margin-top: 0.15vh;
  margin-bottom: 0.15vh;
  @include sizes(100%, 100%); // Width -  Height


  li a {
    display: block;
    color: WHITE;
    text-align: center;
    padding: 0.8vh 4.5vh;
    text-decoration: solid;
    background-color: map-get($colores, color-header_footer);

    &:hover {
      background-color: map-get($colores, color-resaltado);
    }

    &:visited {
      color: map-get($colores, color-visitado);
    }

  }

}

.active {
  background-color: map-get($colores, color-resaltado);
}

.topBar {
  display: flex;
  @include sizes(100%, auto); // Width -  Height
  background-color: map-get($colores, color-header_footer);
  color: white;
  align-items: center;
  align-content: center;
}

.topBarColumn {
  display: flex;
  flex-direction: row;
  flex: 1;
  text-decoration: none;
  background-color: map-get($colores, color-header_footer);
}

.end {
  justify-content: end;
}

.center {
  display: block;
  margin-block-start: 1.35em;
  margin-block-end: 1.00em;
  font-size: 100%;
  background-color: map-get($colores, color-header_footer);
}

.subtitulo {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.subtitulo_small {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.detalle {
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.backGroundColorBody {
  background-color: map-get($colores, color-fondo);
}

.noPadding {
  padding: 0%;
}

@media only screen and (min-width: 10px) and (max-width: 991px) {
  /* Inicio Mobile */

  header {
    @include sizes(100%, auto); // Width -  Height
  }

  .filaFlexRowIndex {
    display: flex;
    flex-direction: column;
    padding-top: 3vh;
  }

  .footerSection {
    margin: 0.1vh;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    @include sizes(100%, 100%); // Width -  Height

    background-color: map-get($colores, color-header_footer);
    color: white;
    margin-top: 2%;

  }

  .footerColumn {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: map-get($colores, color-header_footer);
    justify-content: end;
    justify-items: end;
  }

  .footerColumnRow {
    display: flex;
    flex-direction: row;
    flex: 1;
    background-color: map-get($colores, color-header_footer);
    justify-content: end;
    justify-items: end;
  }

  .salonYNoticias {
    display: flex;
    flex-direction: column;
    padding-left: 4%;
    padding-right: 4%;
    align-items: center;
  }

  .publicidad {
    padding-top: 1vh;
    padding-left: 1vh;
    padding-right: 1vh;
    border: 0.1vh;
    vertical-align: baseline;
  }

  .salon_juego {
    @include sizes(35%, 35%); // Width -  Height
  }

  .filaFlexRow {
    display: flex;
    flex-direction: column;
    padding-top: 1vh;
  }

  .contactoYMapa {
    display: flex;
    flex-direction: column;
    padding-top: 1vh;
    align-items: center;
    justify-content: center;
    justify-items: center;
  }

  #descripcion {
    padding-top: 1vh;
  }

  #fotosTorneos {
    padding-top: 1vh;
  }

  .principal {
    @include sizes(80%, 100%); // Width -  Height
  }

  .mapa {
    margin-top: 5vh;
    margin-bottom: 5vh;
  }

  .columnaFlexRowCenter {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-left: 10vh;
    padding-right: 10vh;
    padding-top: 5vh;
  }

  .serviceJustify {
    text-align: justify;
  }

  .entrenadorArea {
    display: grid;
    grid-template-areas:
      'entrenador1 entrenador2 entrenador3'
      'entrenador4 entrenador5 entrenador6';
    grid-template-columns: repeat(3, auto);
    align-content: stretch;
    gap: 10px;
    padding: 0.5vw;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  .columnaFlexRowTrainers {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .imagenEntrenadores {
    display: flex;
    flex-direction: column;
  }

  .imagenEntrenadoresSRC {
    @include sizes(100%, 100%); // Width -  Height
  }

  .teEsperamos {
    @include sizes(125px, 60px); // Width -  Height
    background-color: map-get($colores, color-resaltado);
    font-size: medium;
    text-align: center;
    font-family: cursive;
  }

  .reduceFont {
    font-size: small;
  }

}

/* Fin Mobile */

@media only screen and (min-width: 992px) {
  /* Inicio Desktop */

  header {
    position: fixed;
    @include sizes(100%, auto); // Width -  Height
  }

  .filaFlexRowIndex {
    display: flex;
    flex-direction: row;
    padding-top: 3vh;
  }

  .footerSection {
    margin: 0.1vh;
    line-height: 0.5vh;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    @include sizes(100%, 100%); // Width -  Height

    background-color: map-get($colores, color-header_footer);
    color: white;
    margin-top: 2%;

  }

  .footerColumn {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: map-get($colores, color-header_footer);
    align-items: flex-start;
    justify-content: end;
    justify-items: end;
  }

  .footerColumnRow {
    display: flex;
    flex-direction: row;
    flex: 1;
    background-color: map-get($colores, color-header_footer);
    justify-content: end;
  }

  .salonYNoticias {
    display: flex;
    flex-direction: row;
    padding-left: 4%;
    padding-right: 4%;
  }

  li {
    float: left;
    background-color: map-get($colores, color-header_footer);
  }

  .publicidad {
    padding-top: 13vh;
    padding-left: 1vh;
    padding-right: 1vh;
    border: 0.1vh;
    vertical-align: baseline;
  }

  .salon_juego {
    @include sizes(25%, 25%); // Width -  Height
  }

  .filaFlexRow {
    display: flex;
    flex-direction: row;
    padding-top: 12vh;
  }

  .contactoYMapa {
    display: flex;
    flex-direction: row;
    padding-top: 12vh;
  }

  #descripcion {
    padding-top: 11vh;
  }

  #fotosTorneos {
    padding-top: 12vh;
  }

  .mapaiIframe {
    @include sizes(23vw, 35vh); // Width -  Height
  }

  .principal {
    @include sizes(50%, 100%); // Width -  Height
    align-items: center;
  }

  .mapa {
    margin-top: 5vh;
    margin-left: 5vh;
    align-items: flex-end;
    justify-content: end;
    justify-items: end;
    @include sizes(50%, 100%); // Width -  Height
  }

  .columnaFlexRowCenter {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-left: 10vh;
    padding-right: 10vh;
  }

  .entrenadorArea {
    display: grid;
    grid-template-areas:
      'entrenador1 entrenador2 entrenador3 entrenador4 entrenador5 entrenador6';
    grid-template-columns: repeat(6, auto);
    align-content: stretch;
    gap: 10px;
    padding: 0.5vw;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  .columnaFlexRowTrainers {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-left: 10vh;
    padding-right: 10vh;
    padding-top: 5vh;
  }

  .imagenEntrenadores {
    margin-left: 25%;
    margin-right: 15%;
    padding: 0.5vh;
    border: 0.5vh;
    vertical-align: baseline;

  }

  .teEsperamos {
    @include sizes(220px, 100px); // Width -  Height
    background-color: map-get($colores, color-resaltado);
    font-size: xx-large;
    text-align: center;
    /* margin-left: 120vh; */
    font-family: cursive;
    -ms-flex-align: center;
  }

  .reduceFont {
    font-size: medium;
  }

}

/* Fin Desktop */

.image30 {
  @include sizes(7vh, 7vh); // Width -  Height
}

.image60 {
  @include sizes(60%, 60%); // Width -  Height
}

.image90 {
  @include sizes(90%, 90%); // Width -  Height
}

.principalContacto {
  margin-top: 5vh;
  display: flex;
  justify-content: center;
  vertical-align: middle;
}

.principalContactoBotonEnviar {
  display: flex;
  justify-content: center;
  vertical-align: middle;

}

.principalContacto>form {
  width: 30rem;
}

input[type=text],
textarea {
  @include sizes(100%, auto); // Width -  Height
  padding: 1.2vh;
  border: 0.1vh solid #ccc;
  border-radius: 0.4vh;
  box-sizing: border-box;
  margin-top: 0.1vh;
  margin-bottom: 0.2vh;
  resize: vertical
}

input[type=submit] {
  width: 10rem;
  background-color: map-get($colores, color-resaltado);
  color: white;
  padding: 1.2vh 2vh;
  border: none;
  border-radius: 0.4vh;
  cursor: pointer;

  &:hover {
    background-color: map-get($colores, color-header_footer);
  }

  &:active {
    box-shadow: 0 0.5vh (map-get($colores, color-visitado));
    transform: translateY(1vh);
  }

}

.noticias {
  display: flex;
  flex-direction: column;
  @include sizes(100%, 100%); // Width -  Height
  padding-top: 2%;
}

.titulo {
  text-align: center;
  font-size: 3em;
  align-items: center;
  color: map-get($colores, color-header_footer);
}

.textoNoticias {
  display: flex;
  text-align: justify;
  align-items: center;
  padding: 4%;
}

.filaFlexRoxSig {
  padding-top: 3vh;
}

.imagenPublicidad {
  @include sizes(100%, 100%); // Width -  Height
}

.backGroundColor {
  background-color: map-get($colores, color-header_footer);
}

.justify {
  text-align: justify;
}

.noMargin {
  margin: 0%;
}

.filaFlexRowFotos {
  display: flex;
  flex-direction: row;
  padding-top: 2vh;
}

.filaFlexRowEntrenadores {
  display: flex;
  flex-direction: row;
  padding-top: 2vh;
}

.footerColumnPadding {
  padding: 0.8vh;
  background-color: map-get($colores, color-header_footer);
}

.fa {
  padding: 2.5vh;
  @include sizes(2.5vh, 100%); // Width -  Height
  text-align: center;
  align-content: center;
  text-decoration: none;
  margin: 0.5vh 0.2vh;
  background: map-get($colores, color-header_footer);
  color: white;

  &:hover {
    opacity: 0.1;
  }

}



.galeria {
  display: grid;
  grid-template-areas:
    'foto3 foto3 foto2 foto2 foto2 foto2'
    'foto3 foto3 foto4 foto1 foto1 foto1'
    'foto6 foto6 foto6 foto6 foto5 foto5';
  grid-template-columns: repeat(6, auto);
  align-content: stretch;
  gap: 0.3vh;
  padding: 0.5vw;
  grid-column-gap: 0.3vh;
  grid-row-gap: 0.3vh;
}

.galeria>div>img {
  @include sizes(100%, 100%); // Width -  Height
  object-fit: cover;
}

@for $i from 1 through 6 {
	.foto#{$i}{
	grid-area: foto#{$i};
	}

    .foto#{$i}:hover{
        opacity: 0.5;
    }
}

@for $i from 1 through 6 {
	.entrenador#{$i}{
	grid-area: entrenador#{$i};
	}
}

.resaltar {
  animation-duration: 3s;
  animation-name: aparecer;
  animation-iteration-count: infinite;
}

.resaltar {
  animation-iteration-count: 1;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }

  25% {
    transform: rotate(45deg);
  }

  100% {
    opacity: 1;
  }
}