* {
  font-family: 'DM Sans';
  background-color: #E4F1FE;
}

ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  background-color: #213b86;
  margin-top: 0.15vh;
  margin-bottom: 0.15vh;
  width: 100%;
}

li a {
  display: block;
  color: WHITE;
  text-align: center;
  padding: 0.8vh 4.5vh;
  text-decoration: solid;
  background-color: #213b86;
}

li a:hover {
  background-color: #F59E3A;
}

li a:visited {
  color: #999999;
}

.active {
  background-color: #F59E3A;
}

.topBar {
  display: flex;
  width: 100%;
  background-color: #213b86;
  color: white;
  align-items: center;
  align-content: center;
}

.topBarColumn {
  display: flex;
  flex-direction: row;
  flex: 1;
  text-decoration: none;
  background-color: #213b86;
}

.end {
  justify-content: end;
}

.center {
  display: block;
  margin-block-start: 1.35em;
  margin-block-end: 1.00em;
  font-size: 100%;
  background-color: #213b86;
}

@media only screen and (min-width: 10px) and (max-width: 991px) { /* Inicio Mobile */

  header {
    width: 100%;
  }

  .filaFlexRowIndex {
    display: flex;
    flex-direction: column;
    padding-top: 3vh;
  }

  .footerSection {
    margin: 0.1vh;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;

    background-color: #213b86;
    color: white;
    margin-top: 2%;

  }


  .footerColumn {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #213b86;
    justify-content: end;
    justify-items: end;
  }

  .footerColumnRow {
    display: flex;
    flex-direction: row;
    flex: 1;
    background-color: #213b86;
    justify-content: end;
    justify-items: end;
  }

  .salonYNoticias {
    display: flex;
    flex-direction: column;
    padding-left: 4%;
    padding-right: 4%;
    align-items: center;
  }

  .publicidad {
    padding-top: 1vh;
    padding-left: 1vh;
    padding-right: 1vh;
    border: 0.1vh;
    vertical-align: baseline;
  }

  .salon_juego {
    width: 35%;
    height: 35%;
  }

  .filaFlexRow {
    display: flex;
    flex-direction: column;
    padding-top: 1vh;
  }

  .contactoYMapa {
    display: flex;
    flex-direction: column;
    padding-top: 1vh;
    align-items: center;
    justify-content: center;
    justify-items: center;
  }

  #descripcion {
    padding-top: 1vh;
  }

  #fotosTorneos {
    padding-top: 1vh;
  }

  .principal {
    width: 80%;
  }

  .mapa {
    margin-top: 5vh;
    margin-bottom: 5vh;
  }

  .reduceFont {
    font-size: small;
  }

  .columnaFlexRowCenter {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-left: 10vh;
    padding-right: 10vh;
    padding-top: 5vh;
  }

  .serviceJustify {
    text-align: justify;
  }

  .entrenadorArea {
    display: grid;
    grid-template-areas:
      'entrenador1 entrenador2 entrenador3'
      'entrenador4 entrenador5 entrenador6';
    grid-template-columns: repeat(3, auto);
    align-content: stretch;
    gap: 10px;
    padding: 0.5vw;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  .columnaFlexRowTrainers {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .imagenEntrenadores {
    display: flex;
    flex-direction: column;
  }

  .imagenEntrenadoresSRC {
    width: 100%;
    height: 100%;
  }

  .teEsperamos {
    width: 125px;
    height: 60px;
    background-color: #F59E3A;
    font-size: medium;
    text-align: center;    
    font-family: cursive;
  }

} /* Fin Mobile */

@media only screen and (min-width: 992px) { /* Inicio Desktop */

  header {
    position: fixed;
    width: 100%;
  }

  .filaFlexRowIndex {
    display: flex;
    flex-direction: row;
    padding-top: 3vh;
  }

  .footerSection {
    margin: 0.1vh;
    line-height: 0.5vh;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;

    background-color: #213b86;
    color: white;
    margin-top: 2%;

  }

  .footerColumn {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #213b86;
    align-items: flex-start;
    justify-content: end;
    justify-items: end;
  }

  .footerColumnRow {
    display: flex;
    flex-direction: row;
    flex: 1;
    background-color: #213b86;
    justify-content: end;
  }

  .salonYNoticias {
    display: flex;
    flex-direction: row;
    padding-left: 4%;
    padding-right: 4%;
  }

  li {
    float: left;
    background-color: #213b86;
  }

  .publicidad {
    padding-top: 13vh;
    padding-left: 1vh;
    padding-right: 1vh;
    border: 0.1vh;
    vertical-align: baseline;
  }

  .salon_juego {
    width: 25%;
    height: 25%;
  }

  .filaFlexRow {
    display: flex;
    flex-direction: row;
    padding-top: 12vh;
  }

  .contactoYMapa {
    display: flex;
    flex-direction: row;
    padding-top: 12vh;
  }

  #descripcion {
    padding-top: 11vh;
  }

  #fotosTorneos {
    padding-top: 1vh;
  }

  .mapaiIframe {
    width: 23vw;
    height: 35vh;
  }

  .principal {
    width: 50%;
    align-items: center;
  }

  .mapa {
    margin-top: 5vh;
    margin-left: 5vh;
    align-items: flex-end;
    justify-content: end;
    justify-items: end;
    width: 50%;
  }

  .columnaFlexRowCenter {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-left: 10vh;
    padding-right: 10vh;
  }

  .entrenadorArea {
    display: grid;
    grid-template-areas:
      'entrenador1 entrenador2 entrenador3 entrenador4 entrenador5 entrenador6';
    grid-template-columns: repeat(6, auto);
    align-content: stretch;
    gap: 10px;
    padding: 0.5vw;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  .columnaFlexRowTrainers {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-left: 10vh;
    padding-right: 10vh;
    padding-top: 5vh;
  }

  .imagenEntrenadores {
    margin-left: 25%;
    margin-right: 15%;
    padding: 0.5vh;
    border: 0.5vh;
    vertical-align: baseline;

  }

  .teEsperamos {
    width: 220px;
    height: 100px;
    background-color: #F59E3A;
    font-size: xx-large;
    text-align: center;
    /* margin-left: 120vh; */
    font-family: cursive;
    -ms-flex-align: center;
  }

} /* Fin Desktop */

.image30 {
  width: 7vh;
  height: 7vh;
}

.image60 {
  width: 60%;
  height: 60%;
}

.image90 {
  width: 90%;
  height: 90%;
}

.principalContacto {
  margin-top: 5vh;
  display: flex;
  justify-content: center;
  vertical-align: middle;
}

.principalContactoBotonEnviar {
  display: flex;
  justify-content: center;
  vertical-align: middle;

}

.principalContacto>form {
  width: 30rem;
}

input[type=text],
textarea {
  width: 100%;
  padding: 1.2vh;
  border: 0.1vh solid #ccc;
  border-radius: 0.4vh;
  box-sizing: border-box;
  margin-top: 0.1vh;
  margin-bottom: 0.2vh;
  resize: vertical
}

input[type=submit] {
  width: 10rem;
  background-color: #F59E3A;
  color: white;
  padding: 1.2vh 2vh;
  border: none;
  border-radius: 0.4vh;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

input[type=submit]:active {  
  box-shadow: 0 0.5vh #666;
  transform: translateY(1vh);
}

.noticias {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 2%;
}

.titulo {
  text-align: center;
  font-size: 3em;
  align-items: center;
  color: #213b86;
}

.textoNoticias {
  display: flex;
  text-align: justify;
  align-items: center;
  padding: 4%;
}

.filaFlexRoxSig {
  padding-top: 3vh;
}

.imagenPublicidad {
  width: 100%;
  height: 100%;
}

.backGroundColor {
  background-color: #213b86;
}

.justify {
  text-align: justify;
}

.noMargin {
  margin: 0%;
}

.filaFlexRowFotos {
  display: flex;
  flex-direction: row;
  padding-top: 2vh;
}

.filaFlexRowEntrenadores {
  display: flex;
  flex-direction: row;
  padding-top: 2vh;
}

.footerColumnPadding {
  padding: 0.8vh;
  background-color: #213b86;
}

.fa {
  padding: 2.5vh;
  width: 2.5vh;
  text-align: center;
  align-content: center;
  text-decoration: none;
  margin: 0.5vh 0.2vh;
  background: #213b86;
  color: white;
}

.fa:hover {
  opacity: 0.1;
}

.galeria {
  display: grid;
  grid-template-areas:
    'foto3 foto3 foto2 foto2 foto2 foto2'
    'foto3 foto3 foto4 foto1 foto1 foto1'
    'foto6 foto6 foto6 foto6 foto5 foto5';
  grid-template-columns: repeat(6, auto);
  align-content: stretch;
  gap: 0.3vh;
  padding: 0.5vw;
  grid-column-gap: 0.3vh;
  grid-row-gap: 0.3vh;
}

.galeria>div>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.foto1 {
  grid-area: foto1;
}

.foto2 {
  grid-area: foto2;
}

.foto3 {
  grid-area: foto3;
}

.foto4 {
  grid-area: foto4;
}

.foto5 {
  grid-area: foto5;
}

.foto6 {
  grid-area: foto6;
}

.foto1:hover{
  opacity: 0.5;
}

.foto2:hover{
  opacity: 0.5;
}

.foto3:hover{
  opacity: 0.5;
}

.foto4:hover{
  opacity: 0.5;
}

.foto5:hover{
  opacity: 0.5;
}

.foto6:hover{
  opacity: 0.5;
}


.galeria>div {
  background-color: #464646;
}

.entreandor1 {
  grid-area: entreandor1;
}

.entreandor2 {
  grid-area: entreandor2;
}

.entreandor3 {
  grid-area: entreandor3;
}

.entreandor4 {
  grid-area: entreandor4;
}

.entreandor5 {
  grid-area: entreandor5;
}

.entreandor6 {
  grid-area: entreandor6;
}


.resaltar {
  animation-duration: 3s;
  animation-name: aparecer;
  animation-iteration-count: infinite;
}

.resaltar {
  animation-iteration-count: 1;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }

  25% {
      transform: rotate(45deg);
    }

  100% {
    opacity: 1;
  }
}