.noPadding {
    padding: 0%;
}

.footerColumnPadding {
    padding: 0.8vh;
    background-color: map-get($colores, color-header_footer);
}

.fa {
    padding: 2.5vh;
    @include sizes(2.5vh, auto); // Width -  Height
    text-align: center;
    align-content: center;
    text-decoration: none;
    margin: 0.5vh 0.2vh;
    background: map-get($colores, color-header_footer);
    color: white;

    &:hover {
        opacity: 0.1;
    }

}

@media only screen and (min-width: 10px) and (max-width: 991px) { // Mobile

    .footerSection {
        margin: 0.1vh;

        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        @include sizes(100%, 100%); // Width -  Height

        background-color: map-get($colores, color-header_footer);
        color: white;
        margin-top: 2%;

    }

    .footerColumn {
        display: flex;
        flex-direction: column;
        flex: 1;
        background-color: map-get($colores, color-header_footer);
        justify-content: end;
        justify-items: end;
    }

    .footerColumnRow {
        display: flex;
        flex-direction: row;
        flex: 1;
        background-color: map-get($colores, color-header_footer);
        justify-content: end;
        justify-items: end;
    }

}

@media only screen and (min-width: 992px) { // Desktop

    .footerSection {
        margin: 0.1vh;
        line-height: 0.5vh;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        @include sizes(100%, 100%); // Width -  Height

        background-color: map-get($colores, color-header_footer);
        color: white;
        margin-top: 2%;

    }

    .footerColumn {
        display: flex;
        flex-direction: column;
        flex: 1;
        background-color: map-get($colores, color-header_footer);
        align-items: flex-start;
        justify-content: end;
        justify-items: end;
    }

    .footerColumnRow {
        display: flex;
        flex-direction: row;
        flex: 1;
        background-color: map-get($colores, color-header_footer);
        justify-content: end;
    }

}