@media only screen and (min-width: 10px) and (max-width: 991px) { // Mobile

    .filaFlexRow {
        display: flex;
        flex-direction: column;
        padding-top: 1vh;
    }

    .serviceJustify {
        text-align: justify;
        padding-top: 1vh;
    }

    .videoVertical{
        width: 324px;
        height: 576px;
    }

    .videoHorizontal{
        width: 288px;
        height: 162px;
    }

}

@media only screen and (min-width: 992px) { // Desktop

    .filaFlexRow {
        display: flex;
        flex-direction: row;
        padding-top: 1vh;
    }

    .serviceJustify {
        text-align: justify;
        padding-top: 1vh;
    }

    .filaFlexRoxSig {
        padding-top: 3vh;
    }

    .videoVertical{
        width: 324px;
        height: 576px;
    }

    .videoHorizontal{
        width: 576px;
        height: 324px;
    }

}